.hero{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background: url("../../assets/hero.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 7%;
}

.hero h3{
    font-size: 2rem;
    text-transform: capitalize;
}

.hero h1{
    font-size: 3rem;
    line-height: 4rem;
}

.hero h1 span{
    color: #fbc531;
}

.hero p{
    font-size: 1.1rem;
    max-width: 500px;
    width: 100%;
    color: #ccc;
}

@media (max-width: 600px) {
    .hero h1{
        font-size: 2rem;
        line-height: 3rem;
    }
}